<h3>Employee Registration Form </h3>
<section>
    <form #reactiveForm="ngForm" (ngSubmit)="OnSubmit()" [mustMatch]="['password','confirmPassword']">

        <div class="form-group col-md-11">
            <label for="inputname">Full Name</label>
            <input name="name" type="text" class="form-control" id="inputname" placeholder="Full Name"
                [(ngModel)]="formData2.fullName" #fullName="ngModel" required fullName
                [ngClass]="{'is-invalid':reactiveForm.submitted && fullName.invalid}">
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="fullName.errors && fullName.errors.required">
                    Full Name is required and must be a valid name
                </div>
            </div>
        </div>
        <div class="form-group col-md-11">
            <label for="inputname">Email</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email"
                [(ngModel)]="formData2.email" #email="ngModel" required email
                [ngClass]="{'is-invalid':reactiveForm.submitted && email.invalid}">
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="email.errors && email.errors.required">
                    Email is Required
                </div>
                <div *ngIf="email.errors && email.errors.email">
                    Enter a valid email address, e.g., john@example.com
                </div>
            </div>
        </div>
        <div class="form-group col-md-11">
            <label for="inputname">Address</label>
            <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Address"
                [(ngModel)]="formData2.address" #address="ngModel" required address
                [ngClass]="{'is-invalid':reactiveForm.submitted && email.invalid}">
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="address.errors && address.errors.required">
                    Address is required
                </div>
            </div>
        </div>
        <div class="form-group col-md-11">
            <label for="inputname">City</label>
            <input name="city" type="text" class="form-control" id="inputcity" placeholder="City"
                [(ngModel)]="formData2.city" #city="ngModel" required city
                [ngClass]="{'is-invalid':reactiveForm.submitted && city.invalid}">
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="city.errors && city.errors.required">
                    City is required
                </div>
            </div>
        </div>
        <div class="form-group col-md-11">
            <label for="inputname">Phone Number</label>
            <input name="phoneno" type="number" class="form-control" id="inputphoneno" placeholder="Phone No"
                [(ngModel)]="formData2.phoneNo" #phoneNo="ngModel" required phoneNo
                [ngClass]="{'is-invalid':reactiveForm.submitted && phoneNo.invalid}" min="10" max="12">
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="phoneNo.errors && phoneNo.errors.required">
                    Phone is required
                </div>
                <!-- <div *ngIf="phoneNo.errors && phoneNo.errors.min && phoneNo.errors.max">
                    Phone number templatemust be minimum 10 digits and maximum 12 digit in length
                </div> -->
                <div *ngIf="phoneNo.errors && phoneNo.errors.min">Phone number must be minimum 10 digits and maximum 12
                    digit in length</div>
                <div *ngIf="phoneNo.errors && phoneNo.errors.max">Phone number must be minimum 10 digits and maximum 12
                    digit in length</div>
            </div>
        </div>
        <div class="form-group col-md-11">
            <label for="inputname">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password"
                [(ngModel)]="formData2.password" #password="ngModel" required password
                [ngClass]="{'is-invalid':reactiveForm.submitted && password.invalid}" minlength="10">
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="password.errors && password.errors.required">
                    Password is required
                </div>
                <div *ngIf="password.errors && password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group col-md-11">
            <label for="inputPassword423">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                placeholder="Confirm Password" [(ngModel)]="formData2.confirmPassword" #confirmPassword="ngModel"
                required [ngClass]="{
          'is-invalid': reactiveForm.submitted && confirmPassword.invalid
        }" />
            <div *ngIf="reactiveForm.submitted && reactiveForm.invalid" class="invalid-feedback">
                <div *ngIf="confirmPassword.errors && confirmPassword.errors.required">
                    Confirm password is required
                </div>
                <div *ngIf="confirmPassword.errors && confirmPassword.errors.mustMatch">
                    Password Mismatch
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="disclaimer">
                <label class="form-check-label" for="gridCheck">
                    Agree with terms and conditions
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</section>