
<ul class="nav flex-column" class="text-center">
  <p class="nav-item" routerLinkActive="active" >
    <a class="nav-link active" href="#" routerLink="/home"><button type="button" class="btn btn-primary">Home</button></a>
  </p>
  <p class="nav-item" routerLinkActive="active">
    <a class="nav-link" href="#" routerLink="/product"><button type="button" class="btn btn-success">Product</button></a>
  </p>
  <p class="nav-item" routerLinkActive="active">
    <a class="nav-link" href="#" routerLink="/contact"><button type="button" class="btn btn-dark">Contact</button></a>
  </p>
</ul>
<router-outlet></router-outlet>
