<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Salary</th>
            <th scope="col">DOB</th>
            <th scope="col">Email</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empd of empdetail" appColor>
            <td>
                <p>{{ empd.Employee_ID }}</p>
            </td>
            <td>
                <p>{{ empd.First_Name }}</p>
            </td>
            <td>
                <p>{{ empd.Last_Name }}</p>
            </td>
            <td>
                <p>{{ empd.Salary |currency:"INR" }}</p>
            </td>
            <td>
                <p>{{ empd.DOB | date:"mediumDate" | uppercase}}</p>
            </td>
            <td>
                <p>{{ empd.Email }}</p>
            </td>            
        </tr>
    </tbody>
</table>